---
name: "tagged-release"

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+.[0-9]+"

jobs:
  test:
    name: Test
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        uses: actions/cache@v2
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pip-
            ${{ runner.os }}-${{ matrix.python-version }}-
      - name: Wrgl version
        id: wrgl_version
        uses: frabert/replace-string-action@v2.0
        with:
          pattern: '^refs/tags/(\\d+\\.\\d+\\.\\d+).*$'
          string: ${{ github.ref }}
          replace-with: "$1"
      - name: Cache test binary
        uses: actions/cache@v2
        with:
          path: wrgl/__testcache__/${{ steps.wrgl_version.outputs.replaced }}
          key: testcache-${{ runner.os }}-${{ steps.wrgl_version.outputs.replaced }}
          restore-keys: |
            testcache-${{ runner.os }}-${{ steps.wrgl_version.outputs.replaced }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test
        run: python -m unittest discover -p '*_test.py'

  tagged-release:
    name: "Tagged Release"
    needs: test
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Cache pip
        uses: actions/cache@v2
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-3.6-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-3.6-pip-
            ${{ runner.os }}-3.6-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade build twine
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m build
          python -m twine upload dist/*
